@charset "utf-8";

/*** Fonts ***/

@font-face {
    font-family:'ApexSansLightST';
    src:url('../fonts/ApexSansLightST.woff') format('woff'),
        url('../fonts/ApexSansLightST.ttf') format('truetype'),
        url('../fonts/ApexSansLightST.eot') format('embedded-opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:'ApexSansMediumST';
    src:url('../fonts/ApexSansMediumST.woff') format('woff'),
        url('../fonts/ApexSansMediumST.ttf') format('truetype'),
        url('../fonts/ApexSansMediumST.eot') format('embedded-opentype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:'engine_icons';
    src:url('../fonts/engine_icons.woff') format('woff'),
        url('../fonts/engine_icons.ttf') format('truetype'),
        url('../fonts/engine_icons.eot') format('embedded-opentype');
    font-style: normal;
    font-weight: normal;
}
/*** Basic ***/

body{
    font-family: 'PT Sans', sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 20px;
    margin: 0;


}
h1,h2,h3,h4{
    margin-bottom: 20px;
    word-wrap: break-word;
    font-family:'ApexSansLightST';
    color: #ee00ee;
}
h1{
    font-size: 48px;
    line-height: 50px;
}
h2{
    font-size: 24px;
    line-height: 28px;
}
h3{
    font-size: 18px;
    line-height: 20px;
}
h4{
    font-size: 16px;
    line-height: 18px;
}
p{
    margin-bottom: 10px;
}
strong,b{
	font-weight: bold;
}
i{
    font-style: italic;
}
a{
    text-decoration: none;
    color: #ee00ee;
}
.fifty{
	width: 50%;
	height: auto;
	float: left;
	display: block;
}
.clear{
	clear: both;
}

#wrapper{
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 100%;
	display: block;
	background: #fde5fd;
	background: -moz-radial-gradient(bottom, ellipse cover,  #fde5fd 1%, #f34cf3 54%, #a600a6 100%);
	background: -webkit-radial-gradient(bottom, ellipse cover,  #fde5fd 1%,#f34cf3 54%,#a600a6 100%);
	background: radial-gradient(ellipse at bottom,  #fde5fd 1%,#a600a6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fde5fd', endColorstr='#a600a6',GradientType=1 );
	background-position: 70% 50%;
	overflow: hidden;
}
@keyframes menuIn {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}@keyframes menuOut {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
.menu_wrap{
    width: 1024px;
    margin: auto;
    margin-top: 250px;
	z-index: 5;
    animation-name: menuOut;
    animation-duration: 1s;
    opacity: 0;
}
.menu_wrap.act{
    animation-name: menuIn;
    animation-duration: 1s;
    opacity: 1;
}
.menu{

}
.menu a{
	font-family:'ApexSansLightST';
	color: #fff;
	font-size: 50px;
	line-height: 70px;
	text-shadow:rgba(0,0,0,.2) 2px 4px 5px,rgba(255,255,255,.4) 0 -4px 30px;
	-webkit-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	-kthtml-transition: all 0.1s ease;
	transition: all 0.1s ease;
}
.menu a:hover,.menu a.act{
	text-shadow:rgba(0,0,0,.7) 2px 4px 5px,rgba(255,255,255,.4) 0 -4px 30px;
}
.menu_toggle_wrap{
	position: fixed!important;
	top: 50%!important;
	left: -26px!important;
	width: 100px!important;
	height: 100px!important;
	margin-top: -42px!important;
	z-index: 999!important;
    cursor: pointer!important;
}
.menu_toggle_bg{
	background: orange!important;
	color: #fff!important;
    cursor: pointer!important;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	-moz-transform:skewY(-2deg); /* Firefox 3.6 Firefox 4 */
	-webkit-transform:skewY(-2deg); /* Safari */
	-o-transform:skewY(-2deg); /* Opera */
	-ms-transform:skewY(-2deg); /* IE9 */
	transform:skewY(-2deg); /* W3C */
	position: absolute!important;
	top: 2px!important;
	left: 2px!important;
	width: 70px!important;
	height: 60px!important;
	background: orange!important;
	color: #fff!important;
    cursor: pointer!important;	
}
.menu_toggle{
	position: absolute!important;
	top: 2px!important;
	left: 2px!important;
	width: 70px!important;
	height: 60px!important;
	color: #fff!important;
    cursor: pointer!important;
}
.hamburger {
    padding: 0px 0px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger:hover {
    opacity: 0.7;
}
.hamburger-box {
    width: 25px;
    height: 24px;
    display: inline-block;
    position: relative;
}
.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 25px;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
    width: 90%;
}
.hamburger-inner::after {
    bottom: -10px;
}
/*
 * Collapse
 */

.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.15s;
    transition-delay: 0.15s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition: top 0.3s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
    width: 100%;
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: top 0.12s 0.3s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse.is-active .hamburger-inner {
    -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.32s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.3s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.27s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: top 0.12s 0.18s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.15s 0.42s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu_toggle_text{
    position: absolute;
    top: 18px;
    left: 35px;
}
.menu_toggle_wrap .midnightHeader.invert .menu_toggle{
	color: orange!important;
	background: white!important;
	border: 2px solid orange!important;
}
.menu_toggle_wrap .midnightHeader.invert .hamburger-inner,
.menu_toggle_wrap .midnightHeader.invert .hamburger-inner::before,
.menu_toggle_wrap .midnightHeader.invert .hamburger-inner::after {}
#side_wrapper{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	position: relative;
}
.header_wrap{
	height: 165px!important;
	display: block;
	width: 100%!important;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 999;
}
header{
	width: 100%;
	height: 155px!important;
	display: block;
	position: fixed;
	top:0px;
	left:0px;
	z-index:999;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: all 2s ease; 
	-moz-transition: all 2s ease; 
	-o-transition: all 2s ease; 
	transition: all 2s ease; 
	-webkit-transform-origin: center right;
	transform-origin: top center;
	transform: perspective(0px) rotateY(0deg) translateY(0px) translateX(0px);
	overflow: hidden;
}
header a{
	color: white;
}
.header_bg{
	position: absolute;
	top: -45px;
	left: -25%;
	z-index: 10;
	width: 150%;
	height: 150px;
	background: orange;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
}
.header_cont{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 11;
	width: 100%;
	height: 65px;
	display: block;
	margin: auto;
}
.logo_wrap{
	max-width: 1024px;
	margin: auto;
	width: 100%;
	height: 65px;
	margin-top: 19px;
}
.logo{
	width: 190px;
	height: 100px;
	display: block;
	float: left;
	background: url('../img/engine_logo_weiss_freigestellt.svg') no-repeat;
	background-size: contain;
}
.logo_text{
	color: #fff;
	font-size: 50px;
	line-height: 50px;
	text-transform: uppercase;
	font-family:'ApexSansLightST';
	float: right;
	margin-left: 10px;
	margin-top: -2px;
}
.midnightHeader.invert .logo{
	background: url('../img/engine_logo_orange_freigestellt.svg') no-repeat;
}
.midnightHeader.invert .header_bg{
	background: white;
}
.midnightHeader.invert .logo_text{
	color: orange;
}
#perspective{
	display: block;
	width: 100%;
	height: calc(100% - 70px);
	top: 70px;
	position: absolute;
	background: white;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
	-webkit-transition: all 1.5s ease; 
	-moz-transition: all 1.5s ease; 
	-o-transition: all 1.5s ease; 
	transition: all 1.5s ease; 
    -webkit-transform-origin: center right;
    transform-origin: center right;
    transform: perspective(0px) rotateY(0deg) translateY(0px) translateX(0px);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 10;
}
#perspective.closed{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);

    /*transform: perspective(4000px) rotateY(-55deg) translateY(-70px);*/
    transform: perspective(4000px) rotateY(-60deg);
    overflow-y: scroll;
}
#perspective_overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
	-webkit-transition: all 1s ease;
	-o-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-kthtml-transition: all 1s ease;
	transition: all 1s ease;
	display: none;
	background: black;
	opacity: 0;
}
#perspective.closed #perspective_overlay{
	/*opacity: 0.5;*/
}
main{
	position: relative;
	width: 100%;
	height: auto;
	margin: auto;
}
section{
	margin-bottom: 50px;
}
.grid{
/*	width: 100%;
	height: auto;
	display: block;*/
}
/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
* { box-sizing: border-box; }
.grid-sizer,
.grid-item {
	width: 20%;
}
.grid-item{
	position:relative;
    -webkit-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -kthtml-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.grid-item:hover{
    -webkit-box-shadow: inset 0px 0px 4px 2px green;
    -moz-box-shadow: inset 0px 0px 4px 2px green;
    box-shadow: inset 0px 0px 4px 2px green;
}
.grid-item.eins_eins{
	
}
.grid-item.eins_zwei{
}
.grid-item.zwei_eins{
	width: 40%;
}
.grid-item.zwei_zwei{
	width: 40%;

}
.grid-item-logo{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 150px;
	height: auto;
}
.grid-item img{
	min-width: 100%;
	max-width: 100%;
}
.grid-item-text{
	position: absolute;
	bottom: 15px;
	left: 15px;
	z-index: 11;
	padding: 5px 8px 5px 8px;
	background: white;
}
.grid-item-logo img{
	width: 100%;
	max-width: 50%;
}
/*	max-width: 256px;
	max-height: 512px;
	min-width: 512px;
	min-height: 256px;*/
.text{
	width: 100%;
	max-width: 1024px;
	margin: auto;
}
.image{
	width: 110%;
	margin-left: -5%;
	margin-top: -30px;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
iframe{
	width: 100%;
}
.image img{
}
#map_wrap{
	width: 120%;
	max-width: 120%;
	height: 512px;
	background: #FFA500;
	margin-left: -10%;
	margin-top: -30px;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);	
}
#map{
	width: 100%;
	height: 100%;
}
#map_desc{
	width: 100%;
	padding-top: 10%;
	height: 512px;
	float: left;
}
.bloc-head {
    color: #5aa8c5;
    padding: 30px;
}
.bloc {
    color: #f9f9f9;
    padding: 1px 0 30px;
    clear: both;
}
#hi-there {
    width: 100%;
    stroke-width: 4;
}
.banderole{
	width: 100%;
	height: 300px;
	display: block;
	margin: auto;
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
}
.banderole_bg{
	position: absolute;
	top: 0px;
	left: -25%;
	width: 150%;
	height: 300px;
	display: block;
	margin: auto;
	z-index: 10;
	background: orange;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.banderole.grey .banderole_bg{
	background: #444444;
}
.banderole_content_wrap{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 300px;
	display: block;
	margin: auto;
	z-index: 11;
}
.banderole_content{
	max-width: 1024px;
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	margin-top: 25px;
	color: #fff;
}
.banderole a{
	color: white;
}
.banderole_el{
	width: 25%;
	float: left;
	text-align: center;
	font-family:'ApexSansLightST';
	font-size: 40px;
	line-height: 55px;
}
.banderole_content img{
	width: 80%;
	margin: auto;
}
/*Swiper*/
.slider_wrapper{
    margin-top: -30px;
}
.slider{
    width: 120%;
    height: 512px;
    margin-left: -10%;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
	overflow: hidden;
	background: orange;
}
.swiper-container {
    width: 120%;
    height: 120%;
    margin-top: -50px;
    margin-left: -10%;
	-moz-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
	
    background: orange;
    cursor: move;
}
.swiper-slide{
	min-width: 100%;
	height: 100%;
}
.swiper-slide-img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}
.swiper-slide-text-wrap{
	display: none;
}
footer{
	width: 100%;
	height: 250px;
	display: block;
	margin: auto;
	position: relative;
    overflow: hidden;
}
footer a{
	color: #fff;
}
.footer_bg{
	position: absolute;
	top: 50px;
	left: -25%;
	width: 150%;
	height: 320px;
	display: block;
	margin: auto;
	z-index: 10;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;	
	background: #444444;
	-moz-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-webkit-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.footer_content_wrap{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 250px;
	display: block;
	margin: auto;
	z-index: 11;
}
.footer_content{
	max-width: 1024px;
	width: 100%;
	min-height: 250px;
	margin: auto;
	color: #fff;
}
footer .fifty{
	padding-top: 100px;
}
/*Medie Queries*/
@media (max-width: 1024px) {
/*	header{
		height: 100px;
	}
	.header_bg{
		height: 100px;	
	}
	.header_cont{
		height: 100px;		
	}
	.logo{
		margin-left: 15px;
		max-width: 100px;
	}
	.logo_text{
		font-size: 30px;
		line-height: 30px;
	}
	#perspective{
		top: 30px;
	}*/
	.text{
		width: 90%;
		margin: auto;
	}
/*	.grid-sizer,
	.grid-item {
		width: 20%;
	}
	.grid-item{
		position:relative;
		
	}
	.grid-item.eins_eins{
		
	}
	.grid-item.eins_zwei{
	}
	.grid-item.zwei_eins{
		width: 40%;
	}
	.grid-item.zwei_zwei{
		width: 40%;

	}*/
}